body {

    background-color: rgb(220, 210, 228);
    background-repeat: no-repeat;
    object-fit: cover;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.wrapper {
    position: fixed;
    bottom: -10px;
    right: 0px;

}

a {
    color: #000000;
    text-decoration: none;
}

.line1 {
    margin-inline-start: 60px;
    margin-top: 40px;
    font-size: 18px;
}


.line2 {
    margin-left: 180px;
    margin-top: 80px;
    font-size: 16px;
}